*
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #333;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}


a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

input,
textarea {
  font: inherit;
}

.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

:root{
    --button_color : #1e2934;
    --bg_pink: rgb(255 239 233);
}

