@keyframes ani{
    0%{
        color: var(--button_color);
    }
    50%{
        color: darkgreen;
    }

    100%{
        color: darkblue;
    }
}


@media (max-width:1024px) {
    header{
        margin-top: 0px;
    }
    .announcement_header{
        display: none;
        margin: 0;
    }
    .fa-bars {
        display: block;
    }
    .nav-off{
        display: none;
    }
    .sidebar {
        display: block; 
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 300px;
        z-index: 999;
        background-color: white;
        box-shadow: 1px 0 8px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        padding: 20px;
        list-style: none;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
    .sidebar .dropdown-content{
        font-size: 14px;
        margin-top: 10px;
    }
    .sidebar .dropdown-topic{
        font-size: 16px;
        margin-bottom: 10px;
        padding: 10px;

    }
    .sidebar .fa-xmark{
        display: flex;
        justify-content: right;
    }
    .logo img{
        width: 30%;
        cursor: pointer;
        
    }
    .bg-pink{
        background-color: var(--bg_pink);
        width: 100%;
        height: auto;
        margin-top: 50px;
        
    }
    .best-seller-col{
        width: 330px;
        margin-top: 50px;
    }
    
}


@media (min-width: 768px) and (max-width: 1024px) {
    .bg-pink{
        background-color: var(--bg_pink);
        height: auto;
        margin-top: 50px;
        width: 100%;
    }
    .floom-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 50px;
        width: 100%;
        padding: 0px;
    }
    .floom-info{
        padding: 30px;
    }
    .floom-ads img{
        width: 100%;    
    
    }
    .floom-info-zip{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 50px;
        padding: 10px 15px;
        gap: 12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    .floom-info-zip input[type='text'],
    .floom-info-zip select{
    width: 250px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
    margin-top: 10px;
    }

    .floom-info-topic h1{
        font-size: 32px;
        font-weight: 700;
        color: #111;
        margin-bottom: 30px;
    }
    .monthly-flower h1{
        font-weight: bold;
        font-size: 30px;
    }
    .monthly-flower-info{
        position: absolute;
        right: 0;
        top: 30%;
        bottom: 50%;
        transform: translate(-10%, -50%);
        width: 400px;
    }
    .starts-subscription{
        display: inline-block;
        justify-content: right;
        align-items: center;
        background-color: var(--button_color);
        padding: 10px;
        color: white;
        position: absolute;
        margin-top: 10px;
        right: 0;
        cursor: pointer;
        transition: transform 0.3s ease-in-out , background-color 0.3s ease;
    }
    
}


@media (max-width: 767px) {
    .floom-row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 50px;
        width: 100%;
        padding: 0px;
    }
    .floom-info{
        padding: 30px;
    }
    .floom-info-zip{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 50px;
        padding: 10px 15px;
        gap: 12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    .floom-info-zip input[type='text'],
    .floom-info-zip select{
    width: 250px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
    margin-top: 10px;
    }

    .floom-info-topic h1{
        font-size: 32px;
        font-weight: 700;
        color: #111;
        margin-bottom: 30px;
    }
    .monthly-flower h1{
        font-weight: bold;
        font-size: 15px;
    }
    .monthly-flower-info p{
        text-align: right;
        font-weight: bold;
        font-size: 12px;
    }
    .monthly-flower-info{
        position: absolute;
        right: 0;
        top: 20%;
        bottom: 50%;
        transform: translate(-10%, -50%);
        width: 250px;
    }
    .starts-subscription{
        display: inline-block;
        justify-content: right;
        align-items: center;
        background-color: var(--button_color);
        padding: 8px;
        color: white;
        position: absolute;
        margin-top: 10px;
        right: 0;
        cursor: pointer;
        transition: transform 0.3s ease-in-out , background-color 0.3s ease;
    
    }
}

@media (max-width: 567px) {
    .monthly-flower h1{
        font-weight: bold;
        font-size: 10px;
    }
    .monthly-flower-info p{
        text-align: right;
        font-weight: bold;
        font-size: 8px;
    }
    .monthly-flower-info{
        position: absolute;
        right: 0;
        top: 20%;
        bottom: 50%;
        transform: translate(-10%, -50%);
        width: 180px;
    }
    .starts-subscription{
        display: inline-block;
        justify-content: right;
        align-items: center;
        background-color: var(--button_color);
        padding: 8px;
        color: white;
        position: absolute;
        margin-top: 0px;
        right: 0;
        cursor: pointer;
        transition: transform 0.3s ease-in-out , background-color 0.3s ease;
    
    }

}
